constraints: aeson ==0.11.2.0,
             attoparsec ==0.13.0.2,
             array ==0.5.1.1,
             base ==4.9.0.0,
             ghc-prim ==0.5.0.0,
             rts ==1.0,
             integer-gmp ==1.0.0.1,
             bytestring ==0.10.8.1,
             deepseq ==1.4.2.0,
             containers ==0.5.7.1,
             scientific ==0.3.4.9,
             binary ==0.8.3.0,
             hashable ==1.2.4.0,
             text ==1.2.2.1,
             vector ==0.11.0.0,
             primitive ==0.6.1.0,
             transformers ==0.5.2.0,
             dlist ==0.8,
             fail ==4.9.0.0,
             mtl ==2.2.1,
             syb ==0.6,
             tagged ==0.8.4,
             template-haskell ==2.11.0.0,
             ghc-boot-th ==8.0.1,
             pretty ==1.1.3.3,
             time ==1.6.0.1,
             unordered-containers ==0.2.7.1,
             aeson-pretty ==0.8.1,
             base-compat ==0.9.1,
             unix ==2.7.2.0,
             base64-bytestring ==1.0.0.1,
             bloodhound ==0.11.1.0,
             blaze-builder ==0.4.0.2,
             data-default-class ==0.1.2.0,
             exceptions ==0.8.2.1,
             stm ==2.4.4.1,
             transformers-compat ==0.5.1.4,
             http-client ==0.5.1,
             case-insensitive ==1.2.0.6,
             cookie ==0.4.2.1,
             old-locale ==1.0.0.7,
             filepath ==1.4.1.0,
             http-types ==0.9.1,
             mime-types ==0.1.0.7,
             network ==2.6.2.1,
             network-uri ==2.6.1.0,
             parsec ==3.1.11,
             random ==1.1,
             streaming-commons ==0.1.15.5,
             async ==2.1.0,
             directory ==1.2.6.2,
             process ==1.4.2.0,
             zlib ==0.6.1.1,
             mtl-compat ==0.2.1.3,
             semigroups ==0.18.2,
             cond ==0.4.1.1,
             hpqtypes ==1.5.1,
             lifted-base ==0.2.3.6,
             monad-control ==1.0.1.0,
             transformers-base ==0.4.4,
             resource-pool ==0.2.3.2.1,
             text-show ==3.2.2,
             bifunctors ==5.3,
             base-orphans ==0.5.4,
             comonad ==5,
             contravariant ==1.4,
             StateVar ==1.1.0.4,
             void ==0.7.1,
             distributive ==0.5.0.2,
             bytestring-builder ==0.10.8.1.0,
             generic-deriving ==1.10.6,
             ghc-boot ==8.0.1,
             nats ==1.1.1,
             th-lift ==0.7.6,
             monad-time ==0.2,
             split ==0.2.3.1
